<a href="https://colab.research.google.com/github/fpabi/Tareas/blob/main/Tarea5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#TAREA 5
Fabiana Pavón Arce

Prof.Lazaro Bustio

###Objetivo
Eres el gerente de un parque acuático y deseas analizar la altura de las olas en diferentes
puntos del parque. Para ello, los estudiantes deben utilizar la biblioteca NumPy para realizar
los siguientes cálculos:

a)promedio por punto

b)altura maxima por punto

c)desviacion estandar por punto

d)punto con la altura promedio mas alta

e)dia con la altura mas alta

In [17]:
import numpy as np

#Cargamos los datos desde el archivo con formato CSV
datos_olas = np.genfromtxt('datos_olas.csv', delimiter=',', skip_header=1, dtype=str)
print(datos_olas)

[['A' '2022-11-25' '4.878464067401625']
 ['A' '2023-03-03' '0.3210021110900163']
 ['D' '2022-09-22' '9.665051956287837']
 ['D' '2023-05-22' '2.0680294339172933']
 ['E' '2022-11-09' '8.647432687107191']
 ['D' '2023-03-27' '1.0689467329471025']
 ['D' '2023-05-18' '5.772233348630593']
 ['A' '2022-10-10' '5.438164968887866']
 ['B' '2023-05-08' '3.3816414491719025']
 ['E' '2023-01-31' '8.762145016520346']
 ['D' '2023-04-27' '6.960884071578922']
 ['D' '2022-09-28' '7.880826626274074']
 ['C' '2023-03-10' '6.33768938022759']
 ['E' '2023-05-25' '3.5855169916685914']
 ['B' '2023-02-24' '8.04451407658844']
 ['A' '2023-03-18' '9.15816323638438']
 ['A' '2023-01-24' '2.130396710979121']
 ['B' '2023-05-01' '7.619685271566826']
 ['D' '2022-12-04' '5.008194672538981']
 ['C' '2023-03-11' '6.376106329916516']
 ['D' '2023-04-27' '8.98816589845325']
 ['C' '2022-12-06' '1.7013787830619964']
 ['A' '2023-04-03' '1.9664935094620795']
 ['A' '2022-07-15' '4.674045294698473']
 ['A' '2022-11-10' '4.52179453977244']
 ['C' '2022-12-26' '0.361185236316639']
 ['A' '2023-02-23' '9.301030560065797']
 ['E' '2022-08-19' '0.8744858006687195']
 ['E' '2023-06-02' '3.8560811284006213']
 ['A' '2022-09-03' '9.341728453268308']
 ['A' '2022-08-09' '2.941613293065636']
 ['D' '2023-02-05' '4.1057206235207495']
 ['A' '2023-04-13' '2.387983633949214']
 ['A' '2022-07-14' '1.5069224745129561']
 ['B' '2023-01-24' '3.7243509692071033']
 ['D' '2022-09-05' '0.8968211113788027']
 ['E' '2022-09-07' '7.245125156792933']
 ['D' '2022-12-31' '9.823272804812238']
 ['D' '2022-12-28' '2.924172574881524']
 ['A' '2023-02-26' '1.2631885231497164']
 ['C' '2023-01-11' '6.710309844196346']
 ['D' '2022-12-29' '0.15471540883903234']
 ['A' '2022-08-06' '0.34886137404405493']
 ['C' '2023-05-10' '4.0401056204282675']
 ['C' '2022-12-07' '9.977293486806257']
 ['C' '2023-01-16' '3.2675088405430355']
 ['A' '2022-09-18' '1.6516645903680405']
 ['D' '2023-06-17' '8.273038002760089']
 ['C' '2023-01-14' '1.9243376164254933']
 ['C' '2023-02-12' '8.630804050114468']
 ['C' '2023-05-05' '6.375910220044524']
 ['A' '2022-08-03' '8.283764541126654']
 ['C' '2023-04-19' '2.536338693405522']
 ['B' '2023-05-07' '7.129113705087359']
 ['B' '2023-06-11' '1.78741110484666']
 ['A' '2022-08-22' '0.5867390238986891']
 ['C' '2023-04-12' '2.5980514198876015']
 ['B' '2022-09-09' '4.0295513099384115']
 ['E' '2022-08-03' '5.98578425140958']
 ['D' '2022-12-19' '4.027301104221154']
 ['C' '2023-05-24' '8.644414210686428']
 ['D' '2022-08-15' '9.874574551710007']
 ['A' '2023-02-10' '4.341683129281439']
 ['A' '2022-11-29' '1.810437606736518']
 ['E' '2023-03-15' '9.412948963979074']
 ['C' '2022-10-26' '0.3355721166046888']
 ['A' '2023-03-17' '7.9642810910615']
 ['E' '2023-04-22' '5.295679589766564']
 ['B' '2023-02-15' '6.030241264558558']
 ['C' '2023-06-21' '9.418160434694062']
 ['C' '2022-10-18' '3.196821524173018']
 ['D' '2023-01-06' '1.4266796082147604']
 ['C' '2022-12-12' '7.022146687374446']
 ['D' '2022-09-02' '9.33762326848273']
 ['B' '2023-06-14' '3.678915743165944']
 ['A' '2023-06-29' '2.955198952466762']
 ['D' '2023-06-17' '0.039413843205671206']
 ['A' '2022-10-17' '7.652942241377701']
 ['A' '2023-06-17' '5.0264220487452835']
 ['E' '2023-05-04' '8.728411573442415']
 ['D' '2023-04-27' '9.643993820112334']
 ['B' '2022-11-04' '3.323701306498017']
 ['A' '2022-09-06' '7.400637909448729']
 ['D' '2023-01-14' '1.1233927366926977']
 ['E' '2023-05-19' '9.14553083796824']
 ['A' '2022-10-21' '6.89500539494965']
 ['E' '2023-06-20' '0.48677187990470383']
 ['C' '2023-03-20' '9.00809713446966']
 ['D' '2023-06-05' '7.5067112364698545']
 ['E' '2022-07-24' '6.889053503509395']
 ['A' '2022-10-19' '5.796898139985943']
 ['D' '2023-04-04' '2.360683356564749']
 ['C' '2022-08-07' '7.472817838184424']
 ['B' '2022-10-21' '3.1705708177868654']
 ['E' '2023-05-10' '6.323828011905608']
 ['C' '2022-09-23' '0.29182094851830653']
 ['A' '2023-04-01' '9.301530195271667']
 ['C' '2022-11-24' '1.18556257255385']
 ['D' '2023-03-19' '8.378766981477224']
 ['A' '2022-07-26' '4.552429570593359']]

Se cargaron los datos del archivo .cvs a un arreglo y se comprobo imprimiendolo que quedara bien

In [20]:
# Extraer las alturas como números (la tercera columna)
alturas = datos_olas[:, 2].astype(float)

# Calcular la altura promedio de las olas en cada punto del parque acuático
puntos_unicos = np.unique(datos_olas[:, 0])# se encuentran las letras de las zonas
altura_promedio_por_punto = [np.mean(alturas[datos_olas[:, 0] == punto]) for punto in puntos_unicos]#se encuentra el promedio por punto de las zonas que ya habiamos encontrado
for i, punto in enumerate(puntos_unicos):
        print("Zona",punto,":" ,altura_promedio_por_punto[i],"\n") # se imprimen los resultados

Zona A : 4.634465075380814

Zona B : 4.719972456219645

Zona C : 4.882383317665143

Zona D : 5.304550573915486

Zona E : 6.088485385217427

Se calcularon los promedios de las alturas en las zonas/puntos del parque con una funcion de numpy, y se imprimieron los resultados

In [19]:
# Calcular la altura máxima de las olas en cada punto del parque acuático
altura_maxima_por_punto = [np.max(alturas[datos_olas[:, 0] == punto]) for punto in puntos_unicos]
for i, punto in enumerate(puntos_unicos):
        print("Zona" ,punto,":" ,altura_maxima_por_punto[i],"\n") # se imprimen los resultados

Zona A : 9.341728453268308

Zona B : 8.04451407658844

Zona C : 9.977293486806257

Zona D : 9.874574551710007

Zona E : 9.412948963979074

Se calcularon los alturas máximas de las  zonas/puntos del parque con una funcion de numpy, y se imprimieron los resultados

In [21]:
# d) Calcular la desviación estándar de la altura de las olas en cada punto
desviacion_estandar_por_punto = [np.std(alturas[datos_olas[:, 0] == punto]) for punto in puntos_unicos]
for i, punto in enumerate(puntos_unicos):
        print("Zona",punto,":" ,desviacion_estandar_por_punto[i],"\n") # se imprimen los resultados

Zona A : 2.9376983956128777

Zona B : 2.0062331146453967

Zona C : 3.19495479704041

Zona D : 3.498748989630639

Zona E : 2.847933177504778

Se calcularon las desviaciones estandar por  zonas/puntos del parque con una funcion de numpy, y se imprimieron los resultados

In [12]:
# e) Encontrar el punto con la altura promedio más alta
indice_punto_max_promedio = np.argmax(altura_promedio_por_punto)
altura_promedio_maxima = altura_promedio_por_punto[indice_punto_max_promedio]
punto_max_promedio = puntos_unicos[indice_punto_max_promedio]

Se encontro la altura promedio máxima de ola en el parque y se indico en que zona/punto estaba

In [13]:
# f) Encontrar el día con la altura máxima de olas en todo el parque acuático
indice_dia_max_altura = np.argmax(alturas)
altura_maxima_total = alturas[indice_dia_max_altura]

Se encontro la altura promedio máxima de ola en el parque y se indico en que fecha sucedio

In [25]:
# g) Guardar los resultados en un archivo de texto
with open('resultados_olas.txt', 'w') as arch:
    arch.write(f"Punto con altura promedio más alta: {punto_max_promedio}\n")
    arch.write(f"Altura promedio más alta: {altura_promedio_maxima:}\n")
    arch.write(f"Día con altura máxima: {datos_olas[indice_dia_max_altura, 1]} ({altura_maxima_total:.2f})\n")
    arch.write("\nAltura promedio por punto:\n")
    for i, punto in enumerate(puntos_unicos):
        arch.write(f"Zona {punto}: {altura_promedio_por_punto[i]}\n")
    arch.write("\nAltura máxima por punto:\n")
    for i, punto in enumerate(puntos_unicos):
        arch.write(f"Zona {punto}: {altura_maxima_por_punto[i]}\n")
    arch.write("\nDesviación estándar por punto:\n")
    for i, punto in enumerate(puntos_unicos):
        arch.write(f"Zona {punto}: {desviacion_estandar_por_punto[i]}\n")

Se creo el archivo de resultados_olas.txt y se le escribio en el los resultados que se obtuvieron